<%- include('./base/header.ejs') %>

<div class="container">
    <div class="alert bg-success my-3">
      <h3 class="text-center" style="color: white">Welcome to the Admin Pannel : </h3>
    </div>
</div>


<div class="container">
    <table class="table text-center">
      <thead>
        <tr>
          <th>First Name :</th>
          <th>Last Name :</th>
          <th>Mobile No. :</th>
          <th>Email Address :</th>
          <th>Password :</th>
        </tr>
      </thead>

      <% employees.forEach((employee)=>{ %>
  
        <tr>
          <td><%= employee.first_name %></td>
          <td><%= employee.last_name %></td>
          <td><%= employee.mobile_no %></td>
          <td><%= employee.email %></td>
          <td><%= employee.password %></td>
        </tr> 
    
   <% }) %>
    </table>
  </div>

<%- include('./base/footer.ejs') %>